[Unit]
Description=Mastodon <-> Twitter crossposter
After=network.target

[Service]
Type=simple
User={USER NAME HERE}
Environment=LC_ALL=en_US.UTF-8
WorkingDirectory={INSTALLATION PATH HERE}
ExecStart=/usr/bin/python3 -m mtt
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
